# Ignore Jetbrains IDE meta-files.
.idea/

# Ignore test files.
src/tests/
build/tests/

# Ignore source files.
src/

# Ignore Git/GitHub files.
.github/
.gitattributes
.gitignore

# Ignore documentation files.
docs/
mkdocs.yml

# Ignore misc. files.
.npmignore
gulpfile.js
jest.config.js
